language: node_js

os: linux

node_js:
  - 12

before_script:
  - npm install -g codecov

script:
  - git fetch --prune
  - npm run coverage

after_success:
  - codecov

jobs:
  include:
    # Define the release stage that runs semantic-release
    - stage: release
      node_js: lts/*
      # Advanced: optionally overwrite your default `script` step to skip the tests
      # script: skip
      deploy:
        - provider: script
          skip_cleanup: true
          script: lerna publish --yes --registry https://registry.npmjs.org/:_authToken=${NPM_TOKEN}
          on:
            branch: master
        - provider: script
          skip_cleanup: true
          script: lerna publish --dist-tag beta --yes --registry https://registry.npmjs.org/:_authToken=${NPM_TOKEN}
          on:
            branch: development
